<%= render_meta_tags title: '記事一覧' %>

<h1>記事一覧</h1>

<main>
  <%= render_posts_as_large_list @posts %>
</main>

<aside>
  <h3>人気記事</h3>
  <%= render_posts_as_small_list @popular_posts %>

  <h3>新着記事</h3>
  <%= render_posts_as_small_list @new_arrival_posts %>
</aside>
