<!DOCTYPE html>
<html>
<head>
  <title>NewsService</title>
  <%= stylesheet_link_tag    "news_service/application", media: "all" %>
  <%= javascript_include_tag "news_service/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
