<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post.id) %>
  <% end %>
</ul>

<%= render 'popular', posts: @popular_posts %>
<%= render 'new_arrival', posts: @new_arrival_posts %>
