<div class="post-from-service">
  <%= raw @post.as_html %>
</div>

<%= render 'popular', posts: @popular_posts %>
<%= render 'new_arrival', posts: @new_arrival_posts %>

<%= link_to 'Back', root_path %>
